@import "tailwindcss";

@theme {
  --color-primary: #0F172A;
  --color-accent: #0369A1;
  --color-background: #F8FAFC;
  --font-sans: 'Plus Jakarta Sans', sans-serif;
}

@layer base {
  body {
    background-color: #F8FAFC;
    color: #0F172A;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
}
